QFrame{
	border: 0px
}

QScrollBar {
  height: 0px;
  width: 0px;
}

QLineEdit {
	color: white;
	background-color:transparent;
	border: 0px;
}

QHeaderView::section {
    color:white;
    background-color: #1B1B1B;
	border: 10px;
}

QHeaderView::section:first {
	border-right: 1px solid white;
}

QHeaderView::down-arrow {
    background-color: transparent;
}

QHeaderView::up-arrow {
    background-color: transparent;
}


QProgressBar::chunk {
     background-color: white;
 }

QProgressBar {
     border: 0px solid grey;
     border-radius: 0px;
     color: white;
     background-color: #1B1B1B;
 }