QFrame {
	color:white;
	background-color:transparent;
}
AOClockLabel {
	border: 1px solid rgba(255, 255, 255, 135);
	border-radius: 2px;
	background-color: rgba(0, 0, 7, 135);
	padding: 0px;
}

QCheckBox {
	color:white;
	background-color:transparent;
}

QComboBox {
	border: 1px solid black;
	border-radius: 3px;
	background-color: darkgray;
	color: black;
}

QAbstractItemView {
	border: 0px solid darkgray;
	background-color: transparent;
	color: black;
	border-radius: 0px;
	selection-background-color: darkgreen;
}

QListView {
	color: black;
	background-color:white;
	selection-background-color: darkgreen;
}

QLineEdit {
	color:white;
	background-color:transparent;
}
