[TEXT COLOR]

QComboBox {
border: 1px solid rgba(20, 0, 20, 150);
background-color: black;
color: rgba(213, 43, 44, 255);
font-size: 7px;
font-style: oblique;
font-weight: bold;
font-family: Orbitron;
border-radius: 3px;}

QComboBox QAbstractItemView {
border: 1px solid rgba(20, 0, 20, 150);
background-color: black;
color: white;
border-radius: 0px;
font-size: 7px;
font-family: Orbitron;
selection-background-color: rgba(213, 43, 44, 255);}

[POS DROPDOWN]

QComboBox {
border: 1px solid rgba(20, 0, 20, 150);
background-color: black;
color:rgba(213, 43, 44, 255);
font-size: 7px;
font-style: oblique;
font-weight: bold;
font-family: Orbitron;
border-radius: 3px;}

QComboBox QAbstractItemView {
border: 1px solid rgba(20, 0, 20, 150);
background-color: black;
color: white;
border-radius: 0px;
font-size: 7px;
font-family: Orbitron;
selection-background-color: rgba(213, 43, 44, 255);}


[THEME LIST]

QComboBox {
border: 1px solid rgba(0, 0, 0, 0);
background-color: black;
color: rgba(213, 43, 44, 255);
scroll-behavior: smooth;
font-style: oblique;
font-weight: bold;
font-size: 7px;
font-family: Orbitron;
border-radius: 0px;}

QComboBox QAbstractItemView {
border: 2px solid darkgray;
background-color: black;
scroll-behavior: smooth;
color: white;
border-radius: 0px;
font-family: Orbitron;
font-size: 7px;
font-style: oblique;
font-weight: bold;
selection-background-color:  rgba(213, 43, 44, 255);}

[EMOTE DROPDOWN]

QComboBox {
border: 1px solid rgba(20, 0, 20, 150);
background-color: black;
color: rgba(213, 43, 44, 255);
font-size: 7px;
font-family: Orbitron;
font-style: oblique;
font-weight: bold;
border-radius: 3px;}

QComboBox QAbstractItemView {
border: 1px solid rgba(20, 0, 20, 150);
background-color: black;
color: white;
font-size: 7px;
border-radius: 0px;
font-family: Orbitron;
font-style: oblique;
font-weight: bold;
selection-background-color: rgba(213, 43, 44, 255);}

[MUTE LIST]

QListView {
color: white;
background-color:black;
font-family: Orbitron;
font-style: oblique;
font-weight: bold;
selection-background-color: rgba(213, 43, 44, 255);}
QListWidget::item:hover { background-color: rgba(213, 43, 44, 255); }

}

[END]