[DESCRIPTION]

QTextBrowser {
	background-color: transparent;
	font-size: 18px;
	color: white;
	font-family: SourceSansPro;
                font-style: oblique;
                font-weight: bold;
	border-radius: 3px;
	border-color: white;
}

[SERVER LIST]

QListView::item { padding-left: 0px; }

QListView {
	background-color: transparent;
                font-style: oblique;
                font-weight: bold;
	border-radius: 3px;
	border-color: white;
                text-decoration: underline;
	font-family: SourceSansPro;}

}

QListWidget {
	border-spacing: 5px;
	border-radius: 5px;
                border-style: solid;
	border-color: white;
	font-size: 24px;
                font-style: oblique;
                font-weight: bold;
                text-decoration: underline;
	font-family: SourceSansPro;
	color: white;
}

[CHAT BOX]

QTextBrowser {
	background-color: transparent;
	color: white;
	font-size: 14px;
	font-family: SourceSansPro;
                 font-style: oblique;
                 font-weight: bold;
	color: white;
	border-radius: 0px;
	border-color: transparent;
}

[END]