[DESCRIPTION]

QTextBrowser {
	background-color: transparent;
	font-size: 20px;
	color: white;
	font-family: Ubuntu-Bold;
	border-radius: 0px;
	border-color: transparent;
}

[SERVER LIST]

QListView::item { padding-left: 0px; }

QListView {
	background-color: transparent;
	font-family: Ubuntu-Bold;}

}

QListWidget {
	border-spacing: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-family: Ubuntu-Bold;
	color: black;
}

[CHAT BOX]

QTextBrowser {
	background-color: transparent;
	color: black;
	font-size: 16px;
	font-family: Ubuntu-Bold;
	color: black;
	border-radius: 0px;
	border-color: transparent;
}

[END]